<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zz.dao.OrderDao">
    <!-- 设置自增主键 -->
    <insert id="createOrder" parameterType="Order" keyProperty="id" useGeneratedKeys="true">
        insert into stock_order values(#{id},#{sid},#{name},#{createTime})
    </insert>
</mapper>